-content_for :sidebar do
  =render :partial => "shared/sidebar"
  
.body
  %h2= @presentation.title 
  -if @presentation.speaker_name and !@presentation.speaker_name.blank?
    %ul.speaker-details
      %li
        by: 
        -if (@presentation.speaker_link and !@presentation.speaker_link.blank?)
          = link_to @presentation.speaker_name, @presentation.speaker_link, :target=>"_blank"
        -else
          = @presentation.speaker_name

  = raw @presentation.body
  .clear
  -if current_user and current_user.user_type=="Admin"
    = link_to 'Edit', edit_presentation_path(@presentation)
    \|
    = link_to 'Back', presentations_path
    


