%h1.list Listing pages

.index_actions
  =link_to 'New page', new_page_path, :class=>"new_link"

.clear
%table
  %tr
    %th Title
    %th Body
    %th Published
    %th Date Created
    %th Date Updated
    %th
    %th


  - @pages.each do |page|
    
    %tr
      %td= page.title
      %td= truncate(page.body)
      %td= page.published ? "Yes" : "No"
      %td= page.created_at.to_s(:no_time) rescue nil
      %td= page.updated_at.to_s(:no_time) rescue nil
      %td= link_to 'Show', page
      %td= link_to 'Edit', edit_page_path(page)
     

%br


