%h1 Posts

%table
  %tr
    %th Title
    %th Tags
    %th Body
    %th Publsihed
    %th Date Created
    %th Date Updated
    %th
    %th
    %th

  - @posts.each do |post|
    %tr
      %td= post.title
      %td= post.tags
      %td= truncate(post.body)
      %td= post.published ? "Yes" : "No"
      %td= post.created_at
      %td= post.updated_at
      %td= link_to 'Show', post
      %td= link_to 'Edit', edit_post_path(post)


%br

= link_to 'New post', new_post_path
