!!!
%html
  %head
    %title RailsJam 2010 
    = stylesheet_link_tag :all
    = javascript_include_tag :defaults
    = csrf_meta_tag
    
  %body
    #top
      .nav
        =render :partial => "shared/nav"
    
    #container
      #header
        %h1.rj 
          RailsJam 2010
        %h2.s
          Supported by Philippine Ruby Users Group 
        
      .content-container
        .content-container-top
          &nbsp;
        .content-container-mid
          .content-text
            = yield
            -if params[:id] || @current_path=="/"
              TEST

        .content-container-bottom
    #footer
      &copy; 2010 RailsJam.net 
      | 
      = link_to "Philippine Ruby Users Group", "http://groups.google.com/group/ruby-phil?pli=1", :target=>"_blank", :rel=>"nofollow"
      |
      = link_to "Baguio Ruby Users Group", "http://groups.google.com.ph/group/baguio-ruby?hl=tl", :target=>"_blank", :rel=>"nofollow"
        
    = javascript_include_tag 'analytics' if Rails.env=="production" and @current_host=="www.railsjam.net"
