!!!
%html
  %head
    %title=@title ? @title : "RailsJam"
    = stylesheet_link_tag :all, :cache=>true
    = javascript_include_tag :defaults, :cache=>"all"
    = csrf_meta_tag
    %link{:href => "/images/favicon.ico", :rel => "shortcut icon", :type => "image/x-icon"}
    
  %body
    #top
      .nav
        =render :partial => "shared/nav"
    #container
      #header
        %h1.rj 
          RailsJam 2010
        %h2.s
          Supported by Philippine Ruby Users Group 

      .content-container
        .content-container-top
          &nbsp;
        .content-container-mid
          .content-text
            = yield
            = yield :sidebar 
        .content-container-bottom
        
      #bottom-content
        #contact
          .contact-mid
            .text-contact
              For interested sponsors and speakers, contact us at 
              %a{:class=>"email"} info at railsjam.net
              
          .contact-right
        #countdown
          %h5.red Next Event:
          %h5 Manila, G2IX Tech Bar
          %h5 September 11, 2010
        
        
    #footer
      &copy; 2010 RailsJam.net 
      | 
      = link_to "Philippine Ruby Users Group", "http://groups.google.com/group/ruby-phil?pli=1", :target=>"_blank", :rel=>"nofollow"
      |
      = link_to "Baguio Ruby Users Group", "http://groups.google.com.ph/group/baguio-ruby?hl=tl", :target=>"_blank", :rel=>"nofollow"
      | In Partnership with 
      =link_to "Devcon Philippines" , "http://www.devcon.ph", :target=>"_blank", :rel=>"nofollow"
        
    = javascript_include_tag 'analytics' if Rails.env=="production" and @current_host=="www.railsjam.net"
