!!!
%html
  %head
    %title=@title ? @title : "RailsJam"
    = stylesheet_link_tag :all, :cache=>true
    = javascript_include_tag 'jquery'
    -if @current_path=="/"
      %meta{:content => "ruby on rails, ruby programmers philippines, ruby on rails training, rails development", :name => "keywords"}
      %meta{:content => "RailsJam is a series of events for Ruby programmers who provide training in the Philippines.", :name => "description"}
      %meta{:content => "RailsJam", :name => "author"}
    = csrf_meta_tag
    %link{:href => "/images/favicon.ico", :rel => "shortcut icon", :type => "image/x-icon"}
    = auto_discovery_link_tag :rss, posts_url(:format=>'rss'), :title=>'RailsJam'
 
    
  %body
    #top
      .nav
        =render :partial => "shared/nav"
    #container
      #header
        %h1.rj 
          RailsJam 2010
        %h2.s
          Supported by Philippine Ruby Users Group 

      .content-container
        .content-container-top
          &nbsp;
        .content-container-mid
          .content-text
            = raw display_flash 
            = yield
            = yield :sidebar 
        .content-container-bottom
        
      #bottom-content
        #contact
          .contact-mid
            .text-contact
              For interested sponsors and speakers, contact us at 
              %a{:class=>"email"} info at railsjam.net
              
          .contact-right
        #latest_tweet
          -tweet = Tweet.recent.first
          .tweet
            .avatar
              -twitter_image = get_avatar_by_username(tweet.user_name, "n")
              =image_tag twitter_image

            .text
              =auto_link(tweet.body, :all, :target => "_blank" )
              -time = time_ago_in_words(tweet.tweet_date) + " ago"
              %span=link_to time, get_twitter_link(tweet.user_name,tweet.twitter_status_id)
      
          
        
        
    #footer
      &copy; 2010 RailsJam.net 
      | 
      = link_to "Philippine Ruby Users Group", "http://groups.google.com/group/ruby-phil?pli=1", :target=>"_blank", :rel=>"nofollow"
      |
      = link_to "Baguio Ruby Users Group", "http://groups.google.com.ph/group/baguio-ruby?hl=tl", :target=>"_blank", :rel=>"nofollow"
      | In Partnership with 
      =link_to "Devcon Philippines" , "http://www.devcon.ph", :target=>"_blank", :rel=>"nofollow"
        
    = javascript_include_tag 'analytics' if Rails.env=="production" and @current_host=="www.railsjam.net"
    = javascript_include_tag 'application','rails', 'misc', :cache=>"all"